@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	display: block;
	color: #111;
}
h3{
    font-size: 30px;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}


/* .visual */
.visual{
	width:100%;
	height:520px;
	position:relative;
}
.slide-group{
	width:100%;
	height:520px;
	position:relative;
}
.slide{
	position:absolute;
}
.slide:nth-child(1){
	background-image:url("../img/visual1.jpg");
	background-size:cover;
	width:100%;
	height:520px;
}
.slide:nth-child(2){
	background-image:url("../img/landing2.jpg");
	background-size:cover;
	background-position: center;
	width:100%;
	height:520px;
}

.visual_txt{
	width:1300px;
	padding-top: 300px;
	position: absolute;
	left: 14%;
	z-index: 1;
}
.visual_txt h2{
	color:#fff;
	font-size: 40px;
}
.visual_txt p{
	color:#fff;
	font-size: 15px;
	opacity: 50%;
	padding-top: 5px;
}
	
	
/* .section_cont1 */
.section_cont1 > div{
    width:1300px;
    margin: 0 auto;
    margin-top: 200px;
}
.section_cont1 > div > div > div > h3{
    margin-bottom: 50px;
}
.section_cont1 > div > div > div > p{
    font-size: 15px;
}
.section_cont1 > div > div > div > span{
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top:20px;
}

.left{
    float: left;
    width:450px;
}
.right{
    float: right;
    width:450px;
}

.first{
    height: 310px;
    margin-bottom: 150px;
}
.first > .left{
    margin-top: 20px;
}
.first > .right{
    background:url("../img/img1.jpg") no-repeat;
    width:600px;
    height: 310px;
    background-size: cover;
    border-radius: 20px;
}

.second{
    height: 470px;
	margin-bottom: 150px;
}
.second > .left{
    background:url("../img/img2-3.png") no-repeat;
    width:600px;
    height: 470px;
    background-size: cover;
	background-position: center;
    border-radius: 20px;
}
.second > .right{
    margin-top: 30px;
    margin-right: 60px;
}
	

/* .section_cont2 */
.section_cont2{
    width: 1300px;
    height: 545px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.cont2_bg{
    background:url("../img/img3.jpg") no-repeat;
    width: 1300px;
    height:545px;
    background-size: cover;
	border-radius: 20px;
}
.cover{
    width:1300px;
    height:545px;
	border-radius: 20px;
    background-color:rgba(0,0,0,0.3);
}
.cont2_bg > div > h3{
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
}
.cont2_bg > div > p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    width:630px;
    margin: 0 auto;
    margin-top: 50px;
}
    

/* .section_cont3 */
.section_cont3{
    width: 100%;
    height: 440px;
}
.cont3_bg{
    background:url("../img/img4.jpg") no-repeat;
    width: 100%;
    height:440px;
    background-size: cover;
}
.cont3_bg > h3{
	font-size: 50px;
	color:#fff;
	text-align: center;
	padding-top: 190px;
}

    
/* footer */
footer{
	width: 100%;
	height: 280px;
	background-color:#2d2d2d;
}
.ft_inner{
	width: 1350px;
	margin: 0 auto;
	position: relative;
}
.ft_left{
	background: url("../img/logo.png") no-repeat;
	width: 100px;
	height: 100px;
	background-size: contain;
	position: absolute;
	margin-top: 100px;
}
	
.ft_center{
	position: absolute;
	left:50%;
	margin-left: -300px;
	margin-top: 100px;
}
.ft_btn a{
	float: left;
	font-size: 15px;
	color: #fff;
	padding-right: 35px;
}
.ft_txt{
	margin-top: 50px;
	position: absolute;
}
.ft_txt p{
	color: #999;
	font-size: 14px;
}
.ft_txt p:first-child{
	padding-bottom: 5px;
}
	
.ft_right{
	float: right;
	margin-top: 100px;
}
div.ft_right > select{
	appearance:none;
	width:155px;
	height:36px;
	color:#bbb;
	border:1px solid #999;
	border-radius:30px;
	background:url("../img/select_arrow.png") no-repeat 87% 50%;
	padding:0 20px;
	box-sizing:border-box;
	cursor: pointer;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
